# fly.toml app configuration file generated for auto-discord-developer-badge on 2026-01-01T01:11:19Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'DiscordBot'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 2
  memory = '4gb'
  memory_mb = 4096
